doctype
html
    head
        title CertNet
        link(rel="stylesheet", href="/staticCSS/index.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css", integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")
    body
        div(id="root")
        script(src="/static/bundle.js", type="text/javascript")
