@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
html, body {
  height: 100%;
}
#root{
  height: 100%;
  position: relative;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper-body{
  height: 100%;
  width: 100%;
  position: absolute;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -31px;
  padding-bottom: 31px;
}
.table td, .table th {
  padding: 0.5rem !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row{
  margin: 0px !important;
}
.header{
  background: #222222
}
.navbar{
  padding: 0px 1rem !important;
}
a.navBrand{
  color: #ffffff !important;
}
.navBrand{
  display: inline-block;
  padding: 9px 0px 9px 5px;
  font-size: 1.5rem;
  white-space: nowrap;
  /* background: #007BFF; */
  margin-right: 1rem;
}
.headerMenu{
  /* color: rgba(0,0,0,.5) !important; */
  color: #9d9d9d !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}
.headerMenu:hover{
  color: #ffffff !important;
}
.headerMenu-label{
  color: #9d9d9d !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-bottom: 0px;
}
.headerMenu-label:hover{
  cursor: pointer;
  color: #ffffff !important; 
}
.headerMenu-active{
  color: #ffffff !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 15px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 5px solid #007BFF;
}
.drop-down-toggle{
  color: #9d9d9d;
}
.drop-down-toggle:hover{
  color: #ffffff !important; 
}

.drop-down-menu{
  margin: 7px;
  border-radius: 0px 0px .25rem .25rem;
}
/* .nav-item .headerMenuSelected{
  color: rgba(0,0,0,.5) !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
} */
.headerAcc{
  padding: 10px 54px !important;
  color:black
  /* background: #ffffff !important */
}
.dropdown-divider{
 margin: 0px !important;
}
.dropdown-menu {
  padding: 0px !important;
}
.dropdown-item {
  padding: 0px !important;
}
.dropMenu{
  height: 45px;
}
.dropMenu:active{
  background: #F8F9FA  !important;
}
a {
  font-weight: normal;
  color: #3b94d9;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  word-wrap: break-word;
}
.hover-i{
  text-decoration: underline;
}
.hover-i:hover{
  font-style: italic;
  cursor: pointer;
}
/* footer */
.footer{
  text-align: center;
  background-color: #333333;
  color: #CCCCCC;
  padding-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
/* form input */
.form-check-input {
  margin-left: 0px !important;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
a:hover{
  text-decoration: none !important;
}

div[class^="IssueBatch"] {
  margin: 0px auto;
}
/* .MuiPaper-root-12 {
  background: none !important;
} */
/* css step active */
div[class^="MuiPaper"] {
  background: none !important;
}
svg[class^="MuiStepIcon-completed"] {
  color: #2196F3 !important;
}
/* css template table */
.templateTable .rt-tbody .rt-td{
  /* line-height: 40px; */
  vertical-align: middle;
}

/* createNewTempalte */
.createNewTempalte{
  width: 750px;
  margin: auto;
}
.tooltipTemp{
  /* background: white !important; */
  color: white !important;
}
/* beauty notifier*/
/* .AlertContainer-top-right-0-1-11{
  left: 50% !important;
  margin-left: -250px !important;
  right: none !important;
} */

/*tags input*/
.react-tagsinput--focused{
  border-color: #80bdff !important;
}
.react-tagsinput-tag{
  background-color:#80bdff !important;
  border-color: #26bdff !important;
  color: #212529 !important;
}
.tagsinput-custom{
  background-color: #80bdff;
  border-radius: 2px;
  border: 1px solid #26bdff;
  color: #212529;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  padding: 5px;
}
/* tab menu recipient page */
.NavItem-Recipient{
  width: 200px;
    text-align: center;
}
/* card certificate - recipient page */
.card-Certificate{
  padding: 0px !important;
}
.card-header-Cert{
  text-align: center
}
.card-header-Cert:hover{
  cursor: pointer;
}
.btn-selected-card{
  border-radius: 0 0 0em 0em;
  box-shadow: none;
}
.btn-card-selectable{
  color: rgb(0, 123, 255)
}
/* partner view  */
.icon-search{
  position: absolute !important;
  top: 12px;
  right: 24px;
  z-index: 100;

}
/* card partners css */

.cardStyle{
  width: 100%;
  height: 390px;
  margin: 20px 0px;
}
.cardBodyPStyle{
  padding: 5% !important;
}
.imgCardStyle{
  max-width: 93%;
  max-height: 150px;
}

.imgCardCertStyle{
    max-width: 100%;
    max-height: 120px;
}
.imgCardCertStyle:hover{
  cursor: pointer;
}

.cardHeaderStyle{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 75px;
}
a .cardHeaderStyle {
  color: #212529 !important;
  font-weight: 600  !important;

}
a .cardHeaderStyle :hover{
  color: #212529 !important;
  font-weight: 600  !important;
}
.cardBodyStyle{
  height: 100px;
  padding: 0px;
  margin-top: 20px;
}
.cardHeaderStyle:hover{
  cursor: pointer;
}
.imgCardStyle:hover{
  cursor: pointer;
}

/* css card individual */
.cardStyleIndividual{
  width: 100%;
  min-height: 420px;
  margin: 20px 0px;
}
.imgCardStyleIndividual{
  max-width: 93%;
  max-height: 250px;
}

/* customized Loader */

.customized-loader,
.customized-loader:before,
.customized-loader:after {
  background: #F1A751;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.customized-loader {
  color: #F1A751;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.customized-loader:before,
.customized-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.customized-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.customized-loader:after {
  left: 1.5em;
}

/* list ETH address  */
li.eth-list{
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffffff;
  padding: 5px 0px 5px 15px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  position: relative;
  margin-top: 2px;
}
li.eth-list:hover {
  background-color: #eee;
}
span.close {
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 5px 12px;
  transform: translate(0%, -50%);
}
span.close:hover {background: #bbb;}
/* button upload image */
.btnUpload{
  width: 130px;
  border: 1px solid #007BFF;
  color: #007BFF;
  display: block;
  margin: 15px auto;
  border-radius: .3rem;
}
.btnUpload:hover{
  cursor: pointer;
}
/* home page */
.active-home{
  margin-top: 2%;
  transition: all 0.5s;
}
.disactive-home{
  margin-top: 12%;
  transition: all 0.5s;
}
.verify-input{
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.verify-input-note{
  margin-bottom: 0%; 
  color:#FFFFFF; 
  background:  rgba(0, 0, 0, .6);
  height: 50px;
  line-height: 50px;
  padding: 0px 15px;
}
.verify-result-alert{
  height: 100px;
  text-align: center;
  background-color: #fff;
  padding-top: 20px;
}
.icon-upload{
  position: absolute !important;
  top: 2px;
  right: 110px;
  z-index: 100;

}
.icon-upload:hover{
  cursor: pointer;
}
.main-homepage{
  /* background: url("https://storage.googleapis.com/certnet/img/bg2.png"), linear-gradient(to left, #7b4397, #dc2430); */
  background: url("https://storage.googleapis.com/certnet/img/bg2.png"), linear-gradient(to left, #7b4397, #dc2430); 
  /* background: url("https://storage.googleapis.com/certnet/img/bg1.png"); */
  background-color:#0A203E;
  min-height: 700px;
  padding-bottom: 100px;
}
.main-homepage-body{
  margin-top: 8%;
  background: rgba(0, 0, 0, 0.4);
  padding-bottom: 100px;
}
.main-homepage-2{
  background: url("https://lrc20wallet.com/images/cryptobackground.jpg"), linear-gradient(to left, #7b4397, #dc2430); 
  min-height: 600px;
}
.features{
  padding: 100px 0;
}
.features h2{
  font-size: 40px;
}
.features-item-icon-circle{
  display: inline-block;
  height: 76px;
  width: 76px;
  position: relative;
  margin-bottom: 0px;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.number {
  width: 76px;
  height: 76px;
  float: left;
  line-height: 2.25;
  font-size: 32px;
  text-align: center;
  font-weight: 300;
  border: 3px solid #A4366C;
  border-radius: 30rem;
}
.text-muted {
  color: #6c757d!important;
  font-size: 18px;
  line-height: 1.5;
}
.feature-item{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
/* visual page */
.list-tpl{
  overflow-x: auto;
  padding: 10px;
  height: 100%;
  line-height: 200px;
  white-space: nowrap;
}
.img-tpl{
  height: 180px;
  display: inline-block;
  margin: 0px 15px;
  cursor: pointer;
}
.img-tpl-selected{
  height: 180px;
  display: inline-block;
  margin: 0px 15px;
  cursor: pointer;
  border: 3px solid #007BFF;
}
.main-template{
  max-height: 100%;
  display: block;
  margin: 0px auto;
}
.tpl-select{
  border: 2px solid #DEE2E6;
  position: relative;
  max-height: 775px;
  overflow: auto;
}
.select-field{
  max-height: 735px;
  border-bottom: 2px solid #DEE2E6
}
.select-field-scroll{
  max-height: 735px;
  overflow: auto;
  padding-bottom: 330px;
  border-bottom: 2px solid #DEE2E6
}
/* visual modal preview */
.modal-preview{
  max-width: none !important;
  width: fit-content !important;
  min-width: 1080px;
}
.modal-body-preview{
  padding: 0px !important;
}
/* .image-preview{
  width: 1080px;
  height: 100%;
} */

/* recommend-field */
.recommend-field{
  float: left;
  margin-top: 7px; 
  margin-left: 7px; 
}
.recommend-field label{
  text-decoration: underline
}
.recommend-field label:hover{
  cursor: pointer;
  font-style: italic;
}
.label-recommend{
  margin: 5px 10px !important;
}
.radio-recommend{
  padding: 0px !important;
}
.cert-line{
  width: 100%;
  height: 25px; 
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 40px
}
.cert-line-text{
  font-size: 30px; background-color: #fff; padding: 0 10px;
}